:root {
  --sidebar-width: 25rem;
  --primary-color: #252525;
  --secondary-color: #630000;
  --title-color: #212121;
}

@font-face {
  font-family: ValeraRound;
  src: url(../fonts/VarelaRound-Regular.ttf);
}

body {
  direction: rtl;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.wrapper {
  display: flex;
  text-decoration: none;
  transition: all 0.3s;
}

#sidebar {
  min-width: min(25rem, 100vw);
  min-height: 100vh;
  height: inherit;
  background: var(--primary-color);
  color: #fff;
  transition: all 0.3s;
}
#sidebar.active {
  margin-right: calc(-1 * var(--sidebar-width));
}
#sidebar>.sidebar-header {
  position: fixed;
  width: min(25rem, 100vw);
  font-family: Helvetica;
  padding: 2rem;
  background: var(--title-color);
}
#sidebar>.sidebar-header>h3{
  width: fit-content;
  margin: auto;
}
#sidebar>.sidebar-header>h3{
  cursor: pointer;
}
#sidebar ul.components {
  width: min(25rem, 100vw);
  position: fixed;
  top: 5.17rem;
  padding: 2rem 0;
  border-bottom: 1px solid var(--secondary-color);
}
#sidebar ul li button{
  background-color: transparent;
  width: 100%;
  border: 0;
  text-align: start;
  color: #fff;
  padding: 1rem;
  font-size: 1.1em;
  display: block;
}
#sidebar ul li button:hover {
  color: var(--secondary-color);
  background: #fff;
}
#sidebar ul li.active > button,
button[aria-expanded="true"] {
  color: #fff;
  background: var(--secondary-color);
  border-top: 1px dashed var(--primary-color);
}
button[data-toggle="collapse"] {
  position: relative;
}
.dropdown-toggle::after {
  margin-right: 1rem;
}
ul ul button {
  font-size: 0.9em !important;
  padding-right: 3rem !important;
  background: var(--primary-color);
}

.btn-menu{
  z-index: 1;
  margin: 0;
  background-color: var(--title-color);
  color: white;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  -webkit-user-select: none;
  user-select: none;
  padding: 0.375rem 0.75rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.topbar{
  background-color: var(--title-color);
  padding: 1.575rem 0;
  font-family: Helvetica;
  width: 100%;
  transition: 0.3s;
}
.topbar h3{
  margin: 0;
}

.container-fluid{
  padding: 0;
  overflow-x: hidden;
}

.add-page{
  position: absolute;
  display: inline-block;
  background-color: var(--secondary-color);
  color: #EEEBDD;
  font-weight: 500;
  border-radius: 0.5rem;
  left: 0;
  padding: 0.6rem 0.8rem;
  margin: -0.6rem 0.4rem;
}
.add-page:hover{
  background-color: #841818;
  color: white;
}

.add-option{
  background-color: var(--title-color);
  width: 100%;
  padding: 1rem;
  display: block;
  font-size: 1.1rem;
}

#content{
  padding-top: 1rem;
  width: 75%;
  margin: auto;
}

#exercise-title,
#template-title{
  text-align: center;
  font-family: ValeraRound;
  color: var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
}

#exercise-content ul{
  list-style-type: none;
  padding: 0;
}
#exercise-content ul li{
  background-color: #FFEFD5;
  border: 1px solid black;
  border-bottom: 0;
  font-size: 1.3rem;
  padding: 0.3rem;
}
#exercise-content ul li:last-child{
  border-bottom: 1px solid black;
}

@media (max-width: 768px) {
  #sidebar {
    margin-right: calc(-1 * var(--sidebar-width));
    z-index: 1;
    position:absolute;
  }
  #sidebar>.sidebar-header{
    padding-top: 3rem;
  }
  #sidebar.active {
    margin-right: 0;
  }
}
