{% extends 'base.html' %}
{% block title %}יצירת דף | {{ exercise_title }} {% endblock %}
{% block content %}
<!--Exercise Template Container-->
<div id="exercise-template-container">
    <h1 id="template-title" class="title">
        {{ exercise_title }}
    </h1>
    <form id="exercise-template" method="POST">
        {% csrf_token %}
        {{ exercise_form.media }}
        {{ exercise_form.as_p }}
        <button name="create-workout" type="submit" class="btn btn-primary">הוסף אימון</button>
    </form>
</div>  
{% endblock %}