{% extends 'base.html' %}
{% load static %}
{% block head %}

{% if debug %}
<script src="{% static 'js/exercise.js' %}?{% now 'U' %}"></script>
{% else %}
<script src="{% static 'js/exercise.js' %}"></script>
{% endif %}

{% endblock %}
{% block title %}ExplosiveZone | {{ exercise.menu_option.title }} {% endblock %}
{% block content %}
<!--Exercise Container-->
<script>
    console.log("{{ is_user_fav }}");
</script>
<div id="exercise-container">
    <h1 id="exercise-title" class="title">
        {{ exercise.menu_option.title }}
        {% if user.is_authenticated and not is_admin %}
        <button id="toggle_fav" type="button" class="btn p-0">
            {% if is_user_fav %}
            <i class="fas fa-star fa-2x text-warning"></i>
            {% else %}
            <i class="fas fa-star fa-2x text-secondary"></i>
            {% endif %}
        </button>
        {% endif %}
    </h1>
    <div id="exercise-content">
        {{ exercise.description|safe }}
    </div>
    <div id="exercise-video" class="ratio ratio-16x9">
        <iframe src="https://www.youtube.com/embed/{{ exercise.video_code }}" allowfullscreen></iframe>
    </div>
</div>

<script>
    // Show hierarchy on page load
    $(document).ready(function(){
        const exercise_title = $("#exercise-title").text().trim();
        $("#sidebar.exercise").each(function(){
            if (exercise_title === $(this).text()){
                $(this).parentsUntil('.components').each(function(){
                    $(this).addClass('active');
                    if ($(this).children('button').hasClass('dropdown-toggle')){
                        $(this).children('button').attr('aria-expanded', 'true');
                        $(this).children('button').addClass('collapsed');
                        $(this).children('ul').addClass('show');
                    }
                });
            }
        });
    });
</script>
{% endblock %}