{% extends 'base.html' %}
{% block title %}ExplosiveArea | בית {% endblock %}
{% block content %}
<h1 class="excercise-title">כותרת התרגיל</h1>
<div class="ratio ratio-16x9 p-1">
    <iframe src="https://www.youtube.com/embed/y-y6i5FPzrw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div class="exercise-content">
    <ul>
        <li>תרגיל 1</li>
        <li>תרגיל 2</li>
        <li>תרגיל 3</li>
    </ul>
</div>
<h4>הערות</h4>
<div class="exercise-remarks">
    תרגיל נוסף לשיפור - תרגיל 4
</div>
{% endblock %}
