{% extends 'base.html' %}
{% block title %}ExplosiveArea | בית {% endblock %}
{% block content %}
<span id="is_admin" class="d-none">{{ is_admin }}</span>
<!--Homepage Content-->
<div id="homepage-container">
    כיתוב
</div>

<!--Exercise Container-->
<div id="exercise-container" class="d-none">
    <h1 id="exercise-title"></h1>
    <div id="exercise-video" class="ratio ratio-16x9 p-1"></div>
    <div id="exercise-content"><ul></ul></div>
    <h4 id="remarks-h4">הערות</h4>
    <div id="exercise-remarks"></div>
</div>

<!--Exercise Template Container-->
<div id="exercise-template-container" class="d-none">
    <h1 id="template-title"></h1>
    <form id="exercise-template" method="POST">
        {% csrf_token %}
        <input id="txt-youtube-code" placeholder="קוד יוטיוב" type="text" maxlength="11" class="form-control mb-2" style="width: 11rem;" />
        <textarea id="txt-excercises" placeholder="תרגילים מופרדים באמצעות שורות" rows="10" class="form-control mb-2"></textarea>
        <textarea id='txt-remarks' placeholder="הערות" rows="5" class="form-control mb-2"></textarea>
        <button type="submit" class="btn btn-secondary">יצירת דף</button>
    </form>
</div>  
{% endblock %}
